# Cross.toml

# Global [build] settings that apply to all targets unless overridden
[build]
# Optional: Disable building Rust's standard library if not needed
# build-std = false

# Optional: Enable or disable Xargo
# xargo = true

# Optional: Set a default target
# default-target = "aarch64-unknown-linux-musl"

# Global environment variables and volumes
[build.env]
volumes = []
passthrough = ["CARGO_*", "RUST_*", "OPENSSL_DIR"]

# target.x86_64-unknown-linux-gnu
[target.x86_64-unknown-linux-gnu]

[target.x86_64-unknown-linux-gnu.env]
volumes = []

# target.aarch64-unknown-linux-gnu
[target.aarch64-unknown-linux-gnu]

[target.aarch64-unknown-linux-gnu.env]
volumes = []

# target.armv7-unknown-linux-gnueabihf
[target.armv7-unknown-linux-gnueabihf]

[target.armv7-unknown-linux-gnueabihf.env]
volumes = []
